@import "../base/variables";

#reset{
    margin-top: $separator;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background: $buttons-color;
    cursor: pointer;
    font-size: 20px;

    &:hover, &:focus{
        background: $buttons-color-hover;
    }
}
