// General variables
$primary-color: #218ec0;
$secondary-color:#fff;
$buttons-color: #0e6b96;
$buttons-color-hover: #085274;
$font-family: 'Roboto', sans-serif;
$font-size-html: 10px;
$max-width-table: 300px;
$max-dimension-cell:100px;
$separator: 20px;
