@import "base/base-index";
@import "components/components-index";

@media only screen and (max-width : 299px) {
    
    .container{
        font-size: 25px;
        .cell{
            min-width: 50px;
            min-height: 50px;
        }
    }
    
}